{{#partial "content" }}
	<div class="container-fluid">
	    <section class="container">
			<div class="container-page">
				<div class="col-md-12">
					<h3 class="dark-grey">승인 완료</h3>
					<p>
						승인이 완료 되었습니다.
					</p>
				</div>
			</div>
		</section>
	</div>
{{/partial}}

{{> include/base}}